<div class="form-card">
  <h2>Quoi de neuf aujourd'hui {{ username }} ?</h2>
  <!-- ReactiveFormsModule permet de lier un objet de type FormGroup à un form avec l'attribut formGroup -->
  <form [formGroup]="messageForm">
    <div class="form-group">
      <label for="title">Titre</label>
      <!-- formControlName prend comme valeur le nom créé avec FormBuilder, donc title ici-->
      <input id="title" type="text" formControlName="title" />
    </div>
    <div class="form-group">
      <label for="content">Message</label>
      <textarea
        id="content"
        type="text"
        rows="4"
        formControlName="content"
      ></textarea>
    </div>
    <div class="form-group">
      <label>URL du média</label>
      <input id="attachment" type="text" formControlName="attachment" />
    </div>
    <div class="form-group form-button">
      <button type="submit" (click)="onSubmitForm()">Publier</button>
    </div>
  </form>
</div>
<div class="message-card" *ngIf="messagePreview$ | async as message">
  <h2>{{ message.title }}</h2>
  <p>
    Mis en ligne {{ message.createdDate | date: "à HH:mm, le d MMMM yyyy" }} par
    {{ username }}
  </p>
  <p>{{ message.content }}</p>
  <img [src]="message.attachment" [alt]="message.title" />
</div>
