<div class="register-container">
  <form [formGroup]="signupForm" class="form-bloc">
    <h3><strong>Inscrivez</strong>-vous</h3>
    <div class="form-group">
      <label for="usernameInput">Nom d'utilisateur :</label>
      <input
        type="text"
        id="usernameInput"
        formControlName="username"
        required
      />
    </div>
    <div class="alert" *ngIf="signupFormControls.username.invalid && (signupFormControls.username.dirty || signupFormControls.username.touched)">
      <div *ngIf="signupFormControls.username.errors.required" class="alert">
          Nom d'utilisateur requis
      </div>
    </div>
    <div class="form-group">
      <label for="emailInput">Email :</label>
      <input type="email" id="emailInput" formControlName="email" required />
    </div>
    <div class="alert" *ngIf="signupFormControls.email.invalid && (signupFormControls.email.dirty || signupFormControls.email.touched)">
      <div *ngIf="signupFormControls.email.errors.required" class="alert">
          Email requis
      </div>
    </div>
    <div class="form-group">
      <label for="passwordInput">Mot de passe* :</label>
      <input
        name="passwordInput"
        type="password"
        formControlName="password"
        id="passwordInput"
        required
      />
    </div>
    <div class="alert" *ngIf="signupFormControls.password.invalid && (signupFormControls.password.dirty || signupFormControls.password.touched)">
      <div *ngIf="signupFormControls.password.errors.required" class="alert">
          Mot de passe requis
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="button-sub"
        (click)="onSubmit()"
      >
        S'enregistrer
      </button>
    </div>
    <div class="info">
      <span>* Votre mot de passe doit contenir 8 caractères minimum, dont 2 chiffres, 2 majuscules et des minuscules</span>
    </div>
    <div class="form-group">
      <p>Déjà inscrit ? <a routerLink="">Connectez-vous</a></p>
    </div>
  </form>
</div>