<div class="register-container">
  <form class="form-bloc">
    <h3><strong>Inscrivez</strong>-vous</h3>
    <div class="form-group">
      <label for="usernameInput">Nom d'utilisateur :</label>
      <input
        type="text"
        id="usernameInput"
        [(ngModel)]="username"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </div>
    <div class="form-group">
      <label for="emailInput">Email :</label>
      <input type="email" id="emailInput" required />
    </div>
    <div class="form-group">
      <label for="passwordInput">Mot de passe :</label>
      <input name="passwordInput" type="password" id="passwordInput" required />
    </div>
    <div class="form-group">
      <button type="submit" class="button-sub" (click)="test()">
        S'enregistrer
      </button>
    </div>
    <div class="form-group">
      <p>Déjà inscrit ? <a routerLink="">Connectez-vous</a></p>
    </div>
  </form>
  {{ username }}
</div>
