@import"../utils/mixin";

.logo {
    background-color: $color-white;
    margin-bottom: 20px;
    padding: 0;
    border: 2px solid $color-grey;
    height: auto;
    p {
        text-align: center;
        margin: auto;
    }
    img {
        margin: auto;
        height: 120px;
        @include mobile-only {
            height: 70px;
        }
    }
}

.menu {
    border-bottom: 2px solid $color-grey;
    ul {
        text-align: center;
    }
    li {
        display: inline-block;
        margin-left: 1.5em;
        margin: 0.3em 0.3em 0.8em 0.3em;
    }
    a {
        text-decoration: none;
        color: $color-primary;
        font-size: 1.5em;
        margin: 1em;
        padding-bottom: 0.2em;
        cursor: pointer;
    }
    a:hover {
        border-bottom: 2px solid $color-primary;
    }
}




