<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-bloc"  >
    <h3><strong>Connectez</strong>-vous</h3>

    <div class="form-group">
      <label for="emailInput">Email :</label>
      <input
        type="text"
        formControlName="loginEmail"
        id="emailInput"
        required
      />
    </div>
    <div class="alert" *ngIf="loginFormControls.loginEmail.invalid && (loginFormControls.loginEmail.dirty || loginFormControls.loginEmail.touched)">
      <div *ngIf="loginFormControls.loginEmail.errors.required" class="alert">
          Email requis
      </div>
    </div>

    <div class="form-group">
      <label for="passwordInput">Mot de passe :</label>
      <input
        type="password"
        formControlName="loginPassword"
        id="passwordInput"
        required
      />
    </div>
    <div class="alert" *ngIf="loginFormControls.loginPassword.invalid && (loginFormControls.loginPassword.dirty || loginFormControls.loginPassword.touched)">
      <div *ngIf="loginFormControls.loginPassword.errors.required" class="alert">
          Mot de passe requis
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="button-sub">
        Se connecter
      </button>
    </div>

    <div class="form-group">
      <p>Pas encore inscrit ? <a routerLink="register">Inscrivez-vous</a></p>
    </div>
  </form>
</div>