<div class="login-container">
  <form
    #loginForm="ngForm"
    (ngSubmit)="onLoginForm(loginForm)"
    class="form-bloc"
  >
    <h3><strong>Connectez</strong>-vous</h3>
    <div class="form-group">
      <label for="emailInput">Email :</label>
      <input
        type="email"
        id="emailInput"
        [(ngModel)]="userEmail"
        name="userEmail"
        required
      />
    </div>
    <div class="form-group">
      <label for="passwordInput">Mot de passe :</label>
      <input
        type="password"
        id="passwordInput"
        [(ngModel)]="userPassword"
        name="userPassword"
        required
      />
    </div>
    <div class="form-group">
      <button type="submit" class="button-sub">Se connecter</button>
    </div>
    <div class="form-group">
      <p>Pas encore inscrit ? <a routerLink="register">Inscrivez-vous</a></p>
    </div>
  </form>
</div>
