@import"../utils/mixin";

.login-container{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 25px;
}
.form-bloc h3{
    color: $color-tertiary;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 45px;
    text-align: left;
}

.form-bloc h3 strong {
    color: $color-primary;
    font-weight: 900;
}



.form-bloc .form-group {
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

.form-bloc .form-group label {
    position: absolute;
    //top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: $color-tertiary;
    font-size: 20px;
    transition: 0.4s ease-out;
}

.form-bloc .form-group p {
    color: $color-tertiary;
    font-size: 1.2em;
}

.form-bloc .form-group input {
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid $color-tertiary;
    color: $color-tertiary;
    font-size: 20px;
    transition: 0.4s ease-out;
}

.form-group:nth-child(4) {
    margin-bottom: 65px;
    justify-content: center;
}

.form-bloc .form-group .button-sub {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 2px solid $color-primary;
    border-radius: 999px;
    background-size: 200%;
    color: $color-primary;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.form-bloc .form-group .button-sub:hover {
    color: $color-white;
    background-position: 100%;
    background-color: $color-tertiary;
    border: 2px solid $color-white;
}

.form-bloc .form-group .button-sub:active {
    background-color: $color-secondary;
}

.form-bloc .form-group:focus-within label,
.form-bloc .form-group.animation label {
    top: 0px;
    transform: translateY(-100%);
    color: $color-primary;
}
.form-bloc .form-group:focus-within input,
.form-bloc .form-group.animation input {
    border-bottom-color: $color-primary;
}   

.alert {
    color: red;
    position: relative;
    top: -18px;
}