
<!-- *ngIf="oneMessage$ | async as message" -->
<div class="message-card" *ngIf="message$ | async as message">
    <div class="message-card__header">
        <div class="message-card__left">
        <p class="date">Message de {{username}} du {{message.createdAt | date: 'd MMMM YYYY, à HH:mm'}}</p>
        </div>
        <div class="message-card__edit">
            <a routerLink="/home">
                <img src="../../assets/cancel-png-4.jpg" alt="bouton annuler" title="Annuler l'édition"/>
            </a>
        </div>
    </div>
    <div class="message-card__body">
        <div class="title">
            <h2>{{ message.title }}</h2>
        </div>  
        <p>{{ message.content }}</p>
        <img [src]="message.attachment" [alt]="message.title" />
    </div>
</div>

<app-edit-post-form></app-edit-post-form>