@import"../utils/mixin";

.message-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto 40px auto;
    border-radius: 25px;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    @include mobile-only {
        width: 90%;
    }
    @include tablet-portrait-up {
        width: 80%;
    }
    @include tablet-landscape-up {
        width: 60%;
    }
    @include desktop-up {
        width: 50%;
    }
    @include big-desktop-up {
        width: 40%;
    }
}

.message-card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $color-tertiary;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-tertiary;
    p {
        font-size: 1.4em;
        font-weight: 600;
        padding: 0;
        margin: 3px 0;
        @include mobile-only {
            font-size: 1em;
        }
        @include tablet-portrait-up {
            font-size: 1em;
        }
        @include tablet-landscape-up {
            font-size: 1.2em;
        }
        @include desktop-up {
            font-size: 1.4em;
        }
        @include big-desktop-up {
            font-size: 1.4em;
        } 
    }
    .date {
        font-size: 0.9em;
        font-style: italic;
        @include mobile-only {
            font-size: 0.8em;
        }
        @include tablet-portrait-up {
            font-size: 0.8em;
        }
        @include tablet-landscape-up {
            font-size: 0.8em;
        }
        @include desktop-up {
            font-size: 0.9em;
        }
        @include big-desktop-up {
            font-size: 0.9em;
        } 
    }
}
.message-card__edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & div {
        margin: 10px;
    }
    img {
        width: 22px;
        transform: scale(1);
        transition: transform 200ms ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.message-card__body {
    color: $color-tertiary;
    margin-bottom: 40px;
    img {
        width: 100%;
    }
    h2 {
        
        text-align: center;
        margin: 30px 0 0 0;
        @include mobile-only {
            font-size: 1.1em;
        }
        @include tablet-portrait-up {
            font-size: 1.3em;
        }
        @include tablet-landscape-up {
            font-size: 1.5em;
        }
        @include desktop-up {
            font-size: 1.7em;
        }
        @include big-desktop-up {
            font-size: 1.7em;
        } 
    }
    p {
        font-weight: 300;
        font-size: 1.3em;
        letter-spacing: 1.2px;
        margin: 30px 0 40px 0;
        text-align: center;
        @include mobile-only {
            font-size: 1em;
        }
        @include tablet-portrait-up {
            font-size: 1.1em;
        }
        @include tablet-landscape-up {
            font-size: 1.2em;
        }
        @include desktop-up {
            font-size: 1.3em;
        }
        @include big-desktop-up {
            font-size: 1.3em;
        } 
    }
}


