.message-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
}

.message-card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
    p {
        font-size: 22px;
        font-weight: 600;
        padding: 0;
        margin: 3px 0;
        
    }
    .date {
        font-size: 15px;
        font-style: italic;
    }
}
.message-card__edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & div {
        margin: 10px;
    }
    img {
        width: 22px;
        transform: scale(1);
        transition: transform 200ms ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.message-card__body {
    img {
        width: 100%;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        font-weight: 300;
        font-size: 16px;
    }
}

.message-card__likes {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    p {
        font-size: x-large;
    }
    button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    &:active {
        transform: translate(1px, 1px);
        box-shadow: lightgray 0 0 5px;
    }

    }
}
